[include mainsail.cfg]
[include printer.d/**/*.cfg]

#  ------------------------------------------------------------
# This file contains common pin mappings for the BigTreeTech Octopus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

## Voron Design VORON2 250/300/350mm BigTreeTech OctoPus V1 TMC2209 UART config


## *** THINGS TO CHANGE/CHECK: ***
#  ------------------------------------------------------------
## MCU paths                            printer.d/hardware/board.cfg, [mcu]
## Z Endstop Switch  offset for Z0      printer.d/hardware/steppers.cfg, [stepper_z]
## Probe points                         printer.d/hardware/gantry.cfg, [quad_gantry_level]
## Min & Max gantry corner postions     printer.d/hardware/gantry.cfg, [quad_gantry_level]
## Z Endstop Switch location            printer.d/hardware/gantry.cfg, [safe_z_home]
## Probe pin                            printer.d/hardware/probe.cfg, [probe]
## Thermistor types                     ** See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types **
##                                      printer.d/hardware/extruder.cfg, [extruder]
##                                      printer.d/hardware/bed.cfg, [heater_bed]
## PID tune                             printer.d/hardware/extruder.cfg, [extruder]
##                                      printer.d/hardware/bed.cfg, [heater_bed]
## Fine tune E steps                    printer.d/hardware/extruder.cfg, [extruder] section
#  ------------------------------------------------------------
## Homing end position                  printer.d/macros/voron.cfg, [gcode_macro G32]
#  ------------------------------------------------------------