
[include steppers.cfg]

#  ------------------------------------------------------------ 
#  OVERALL UNIT CONFIG SETTINGS
#  ------------------------------------------------------------
[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000
#max_z_velocity: 5
#max_z_accel: 100
max_z_velocity: 20
max_z_accel: 200
max_accel_to_decel: 3000
square_corner_velocity: 5.0

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_470010001250415833323520-if00
restart_method: command


#  ------------------------------------------------------------
#  FANS
#  ------------------------------------------------------------
[heater_fan controller_fan]
pin: PB15
heater: heater_bed
heater_temp: 45.0

[heater_fan nozzle_cooling_fan]
pin: PC7

[fan]
pin: PC6





#  ------------------------------------------------------------ 
#  BED
#  ------------------------------------------------------------ 
[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

#  ------------------------------------------------------------ 
#  AUTO BED LEVELING
#  ------------------------------------------------------------ 
#[bed_screws]
#screw1: 56,75
#screw2: 227,75
#screw3: 154,186
#screw4: 76,186


[screws_tilt_adjust]
screw1: 54,72.5
screw1_name: front left screw
screw2: 224,72.5
screw2_name: front right screw
screw3: 224,228
screw3_name: rear right screw
screw4: 54,228
screw4_name: rear left screw
speed: 200
horizontal_move_z: 10
screw_thread: CW-M4

[bed_mesh]
mesh_min: -10, -10
mesh_max: 200, 189
probe_count: 5,5
fade_start: 1
fade_end: 10
fade_target: 0
algorithm: bicubic
move_check_distance: 3.0


[bltouch]
sensor_pin: ^PC14
control_pin: PA1
x_offset: -31
y_offset: -39.5
#speed:
samples_result:average
probe_with_touch_mode: true
stow_on_each_sample: false

#  ------------------------------------------------------------ 
#  HOMING
#  ------------------------------------------------------------ 
[safe_z_home]
home_xy_position: 117.5,117.5 # Change coordinates to the center of your print bed
speed: 150
z_hop: 10                 # Move up 10mm
z_hop_speed: 10

#  ------------------------------------------------------------ 
#  EXTRUDER
#  ------------------------------------------------------------
[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
#rotation_distance: 33.500
#rotation_distance: 7.6190
rotation_distance: 7.45
#rotation_distance: 7.5
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
pid_Kp: 22.865
pid_Ki: 1.292
pid_Kd: 101.178
min_temp: 0
max_temp: 250
#gear_ratio: 1:3.5
max_extrude_only_distance: 1500
#gear_ratio: 42:12
#rotation_distance: 26.359
#pressure_advance: 0.045
pressure_advance: 0.095

#  ------------------------------------------------------------
#  TMC2209 SETTINGS
#  ------------------------------------------------------------

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

#[virtual_sdcard]
#path: /home/pi/printer_data/gcodes

#  ------------------------------------------------------------ 
#  MISCELLANEOUS
#  ------------------------------------------------------------ 
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>